<div class="paper">
  <div class="title-container">
    <app-title [type]="'h1'" [text]="title"></app-title>
  </div>
  <div class="image-container">
    <app-image-byte [image_url]="image_url" [selectable]="false"></app-image-byte>
  </div>
  <div *ngIf="percentage" class="progress-container">
    <div class="bar-container">
      <app-progress-bar [percentage]="percentage"></app-progress-bar>
    </div>
    <div class="button-container">
      <app-forward-button></app-forward-button>
    </div>
  </div>
</div>