<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/tracks"></ion-back-button>
    </ion-buttons>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">
    <p>There are only three parts to this page.</p>
    <ul>
      <li>Progress history graph (https://swimlane.github.io/ngx-charts/#/ngx-charts/line-chart)</li>
      <li>"Easy", "Medium", and "Hard" Buttons</li>
      <li>Log in to save/sync Progress</li>
    </ul>
  </div>

</ion-content>
