<ion-content>

  <div class="content">
    <a *ngFor="let track of tracks" [routerLink]="['/skill-list']" [state]="{track_id: track.getId()}">
      <app-card
        [title]="track.getName()"
        [description]=""
        [percentage]=50
        [image_url]="track.getImageArr()[0]"
      ></app-card>
    </a>  
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <a routerLink="/settings">
      <ion-fab-button>
        <ion-icon name="person-outline"></ion-icon>
    </ion-fab-button>
    </a>
  </ion-fab>
</ion-content>
