<ion-content>

  <div class="content">
    <a *ngFor="let track of tracks" routerLink="/skill-list">
      <ion-card #ioncard>
        <img src="{{track.getImageArr()[0]}}" alt="Title Image">
        <ion-card-header>
          <ion-card-subtitle>
            Subtitle
          </ion-card-subtitle>
          <ion-card-title>
            {{track.getName()}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Description of the track.  There should be some details, here.
        </ion-card-content>
      </ion-card>
    </a>  
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <a routerLink="/settings">
      <ion-fab-button>
        <ion-icon name="person-outline"></ion-icon>
    </ion-fab-button>
    </a>
  </ion-fab>
</ion-content>
