.container {
    position: relative;
    display: block;
    width: 100%;
    height: auto;

    .filler {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .filler-mask {
        position: absolute;
        background-color: white;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .border {
        display: block;
        position: inherit;
        z-index: 10;
        width: 100%;
        height: auto;
    }
}