<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tracks"></ion-back-button>
    </ion-buttons>
    <ion-title>skill-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="circle-list">
      <a *ngFor="let skill of skills | async" [routerLink]="['/test']" [state]="{skill_id: skill.getId()}">
        <app-progress-circle [deg]=50 [content]="skill.getTitle()"></app-progress-circle>
      </a>
    </div>
  </div>

</ion-content>
