/* Stubs */

.stub {
    border-width: 3px;
    border-style: solid;
}

.focus-stub {
    @extend .stub;
    border-color: red;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 0;
}

.options-stub {
    @extend .stub;
    border-color: blue;
    width: 100vw;
    height: 40vh;
    position: absolute;
    bottom: 10vh;
}

.progress-stub {
    @extend .stub;
    border-color: green;
    width: 100vw;
    height: 10vh;
    position: absolute;
    bottom: 0;
}

