<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/skill-list"></ion-back-button>
    </ion-buttons>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <!-- Account for possible question types-->
    <div *ngIf="assessment_skill && (assessment | async)?.getTag() == 'sound_the_name'" class="question">
      <h1>Match the Image:</h1>
      <app-image-byte [selectable]="false" [image_url]="(assessment_skill | async)?.getImageArr()[0]"></app-image-byte>
    </div>
    <div *ngIf="assessment_skill && (assessment | async)?.getTag() == 'name_the_sound'" class="question">
      <h1>Match the Sound:</h1>
      <app-sound-byte [selectable]="false" [autoplay]="true" [sound_url]="(assessment |async)?.getAudioArr()[0]" ></app-sound-byte>
    </div>

    <div *ngIf="options_arr && (assessment | async)?.getTag() == 'sound_the_name'" class="options">
      <div *ngFor="let option of options_arr | async" class="option">
        <app-sound-byte (click)="select(option)" [selected]="option == selected" [selectable]="true" [autoplay]="false" [sound_url]="option.getAudioArr()[0]"></app-sound-byte>
      </div>
    </div>

    <div *ngIf="options_arr && (assessment | async)?.getTag() == 'name_the_sound'" class="options">
      <div *ngFor="let option of options_arr | async" class="option">
        <p>{{option.getTitle()}}</p>
        <app-image-byte (click)="select(option)" [selected]="option == selected" [selectable]="true" [image_url]="option.getImageArr()[0]"></app-image-byte>
      </div>
    </div>

    <div class="submit">
      <ion-button (click)="submit()" color="success">Submit</ion-button>
    </div>

  </div>
</ion-content>
