<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/skill-list"></ion-back-button>
    </ion-buttons>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content">
    <div class="focus-stub">
      <p>There are four potential test types to be concerned with.</p>
      <ul>
        <li>Name the sound</li>
        <li>Sound the name</li>
        <li>Picture the sound</li>
        <li>Sound the Picture</li>
      </ul>
    </div>
    <div class="options-stub">
      <div class="option"></div>
      <div class="option"></div>
      <div class="option"></div>
      <div class="option"></div>
    </div>
    <div class="progress-stub">

    </div>
  </div>
</ion-content>
